#one{
    background-color: #3e5c76;
    width:100%
    
   
}
#next{
    background-color: #1d2d44;
    width:100% ;
    height:40px;
}
#forLOgo
{
    width: 10%;
}
#LOGO
{
    width:70px;
    height:70px;
}
#forWeb{
    width:80%;
}
table,th,td
{

    border: 2px solid white;
    border-collapse: collapse;
    color: white;
}
.date{
    font-size: medium;
    width: 20%;
}
#pages
{
    width: 10%;

}


#link
{
    color: white;  
    text-decoration: none;
}
#heading
{
    color: black;
    background-color: white; 
    text-align:center
}
#para
{
    display: inline-block; 
    width: 50%; 
    background-color: white; 
    color: black;
}
#headline
{
    text-align: center;
}
#paragraph
{
    text-align: justify;
}
#forimg
{
    display: inline-block;
}
#starrynight{
    width: 700px;
    height: 400px;
}
#login
{
    height: 800px; 
    width: 100%; 
}
#login2
{
    height:500px;
    width:500px;
    background-color: #aec3b0; 
    margin-left: 30%; 
    margin-top:10px;
    border-radius: 30px;
    border: 2px solid white;
   
}
#login3
{
    text-align: center; color:aliceblue
}
#login4
{
    color:aliceblue; margin-left: 10%;
}

#signin{
    text-align: center; color: white;
}
#loginbutton
{
    margin-left: 40%;
}
#loginbutton:hover
{
    background-color: white ;
}
#divitions
{
    margin-left: 7.5%; background-color: white; color: #7f7f7f;
}
input[type=submit]
{
    color:aliceblue; background-color: #253751; margin-left: 40%;
}
input[type=submit]:hover
{
    background-color:#3e5c76 ;
}

.table2,.row,.col{
    border: 2px solid black;
    color: black;
    background-color: white;
    text-align: center;
}
.row
{
    height: 80px; 
    
}
#roww
{
    background-color: #1d2d44;
    color: white;
    height: 80px;
    
}
.col
{
    background-color: pink;
    width: 70px;
}
.tab,.roo,.news{
    border: 2px solid black;
    border-collapse: collapse;
    
}
.roo
{
    width: 100%;
}
#breaking
{
    color: red;
}
.news
{
    width: 30px;
}
#newsImage
{
    width: 360px;
}
img
{
    display: inline-block; width:280px; height: 200px;
}
#left
{
    display: inline-block; 
    width: 49%; 
    height: 700px;
    background-color: white; 
    float: left; 
    text-align: left;
}
#right
{
    display: inline-block; width: 49%; height: 700px;background-color: white; float: right; text-align: right;
}